html[data-theme="dark"] {
	--color--0: rgba(0, 0, 0, 1);
	--color--1: rgba(255, 255, 255, 1);

	--color--a1-0: rgba(255 255 255);
	--color--a1-1: rgba(255 255 255);
	--color--a1-2: rgba(180 180 180);

	--color--a2-0: rgba(38 157 217);
	--color--a2-1: rgba(31 126 173);
	--color--a2-2: rgba(23 94 130);

	--color--a3-0: rgba(127 217 38);
	--color--a3-1: rgba(102 173 21);
	--color--a3-2: rgba(76 130 23);

	--color--a4-0: rgba(217 127 38);
	--color--a4-1: rgba(173 102 31);
	--color--a4-2: rgba(130 76 23);

	--color--a5-0: rgba(217 38 38);
	--color--a5-1: rgba(173 31 31);
	--color--a5-2: rgba(130 23 23);

	--color--bg-0: rgb(120, 120, 120);
	--color--bg-1: rgb(40, 40, 40);
	--color--bg-2: rgb(0, 0, 0);

	--color--el-0: rgba(255, 255, 255, 1);
	--color--el-1: rgba(255, 255, 255, 1);
	--color--el-2: rgba(240, 240, 240, 1);

	--color--f1-0: rgba(255, 255, 255, 1);
	--color--f1-1: rgba(255, 255, 255, 1);
	--color--f1-2: rgba(255, 255, 255, 1);

	--color--f2-0: rgba(0, 0, 0, 1);
	--color--f2-1: rgba(0, 0, 0, 1);
	--color--f2-2: rgba(25, 25, 25, 1);
}
