html[data-theme="light"] {
	--color--0: rgba(255, 255, 255, 1);
	--color--1: rgba(0, 0, 0, 1);

	--color--a1-0: rgba(0, 0, 0, 1);
	--color--a1-1: rgba(0, 0, 0, 1);
	--color--a1-2: rgba(26, 26, 26, 1);

	--color--a2-0: rgba(51, 187, 255, 1);
	--color--a2-1: rgba(102, 204, 255, 1);
	--color--a2-2: rgba(153, 221, 255, 1);

	--color--a3-0: rgba(153, 255, 51, 1);
	--color--a3-1: rgba(178, 255, 102, 1);
	--color--a3-2: rgba(204, 255, 153, 1);

	--color--a4-0: rgba(255, 152, 51, 1);
	--color--a4-1: rgba(255, 178, 102, 1);
	--color--a4-2: rgba(255, 204, 153, 1);

	--color--a5-0: rgba(255, 51, 51, 1);
	--color--a5-1: rgba(255, 102, 102, 1);
	--color--a5-2: rgba(255, 153, 153, 1);

	--color--bg-0: rgba(102, 204, 255, 1);
	--color--bg-1: rgba(255, 255, 255, 1);
	--color--bg-2: rgba(0, 0, 0, 1);

	--color--el-0: rgba(0, 0, 0, 1);
	--color--el-1: rgba(0, 0, 0, 1);
	--color--el-2: rgba(25, 25, 25, 1);

	--color--f1-0: rgba(0, 0, 0, 1);
	--color--f1-1: rgba(0, 0, 0, 1);
	--color--f1-2: rgba(25, 25, 25, 1);

	--color--f2-0: rgba(255, 255, 255, 1);
	--color--f2-1: rgba(255, 255, 255, 1);
	--color--f2-2: rgba(255, 255, 255, 1);
}
