:root {
	--time-0: 0.2s;
	--time-1: 0.3s;
	--time-2: 0.5s;
	--time-3: 0.8s;
	--transition-type-0: easy;
	--transition-type-1: easy-in;
	--transition-type-2: easy-in-out;
	--transition-type-3: easy-out;
}
