// >----------------------------------------------------------------<
// >                             SCREENS                            <
// >----------------------------------------------------------------<
:root {
	--screen-xx: 1300px;
	--screen-xl: 1024px;
	--screen-lg: 960px;
	--screen-md: 720px;
	--screen-sm: 540px;
	--screen-xs: 480px;
}

$screen-xx: 1300px;
$screen-xl: 1024px;
$screen-lg: 960px;
$screen-md: 720px;
$screen-sm: 540px;
$screen-xs: 480px;
