@use "../globals/" as *;


.page__login {
	.main {
		position: relative;
		z-index: 0;
		overflow: hidden;
		&__decoration {
			position: absolute;
			top: 70px;
			left: -300px;
			z-index: -1;
			@include bgImgSVGStatic("../../assets/svg/img--half-circle.svg", 100%, 1828px);
			background-position: center;
			@media(max-width: $screen-lg) {
				top: -800px;
			}
		}
		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) * 2);
		}
	}
}

.login {
	display: flex;
	flex-direction: column;
	padding-top: calc(var(--col-gap) * 2.7);
	padding-left: calc(var(--col-gap) * 2.2);;
	&__heading {
		margin-bottom: calc(var(--col-gap) * 2);
	}
	&__log-reg-form {
		position: relative;
		z-index: 0;
		margin-bottom: calc(var(--col-gap) * 2.2);
	}
	@media(max-width: $screen-lg) {
		align-items: center;
		padding-left: 0;
	}
}

.mascot-container {
	padding-top: var(--col-gap);
	padding-right: calc(var(--col-gap) * 3.1);
	.mascot {
		margin-left: auto;
		@include bgImgSVGStatic("../../assets/svg/img--magic-man.svg", 279px, 540px);
	}
}
