@use "../globals/" as *;

.page__main {
	.main {
		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) / 2);
			.description {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding-top: calc(var(--col-gap) * 4.2);
				row-gap: var(--col-gap);
				.h1,
				.p1 {
					max-width: 540px;
				}
				@media(max-width: $screen-lg) {
					align-items: center;
					padding-top: calc(var(--col-gap) * 2);;
				}
			}
			.illustration-container {
				display: flex;
				justify-content: end;
				padding-top: calc(var(--col-gap) * 1.3);
				padding-right: calc(var(--col-gap) * 2);
				.illustration {
					@include bgImgSVGStatic("../../assets/svg/img--thinking-man.svg", 374px, 538px);
				}
			}
		}
	}
}
