@use "../globals/" as *;

.page__registration {
	.main {
		background-color: pink;
		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) / 2);
			flex-direction: column;
		}
	}
}
