@use "../globals/"as *;

.page-registration {
	.main {
		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) / 2);
		}
	}
}

.register {
	display: flex;
	flex-direction: column;
	padding-left: calc(var(--col-gap) * 2.2);
	padding-bottom: calc(var(--col-gap) / 2);

	&__heading {
		margin-bottom: calc(var(--col-gap) * 1.5);
	}

	&__log-reg-form {
		margin-bottom: calc(var(--col-gap) * 1.6);
	}

}

.mailman-mascot {
	margin-top: calc(var(--col-gap) * 0.5);
	padding-right: calc(var(--col-gap) * 2);

	&__img {
		margin-left: auto;
		@include bgImgSVGStatic("../../assets/svg/img--postman.svg", 420px, 550px);
		max-width: 100%;
		max-height: 100%;
	}
	@media(max-width: $screen-lg) {
		width: 336px;
		height: 440px;
	}
}