@use "../globals/" as *;

.page-statistics {
	.main {
		background-color: var(--color--bg-3);
		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) / 2);
			flex-direction: column;
			gap: var(--col-gap);
		}
		.page-statistics__header-block {
			display: flex;
			flex-direction: column;
			gap: calc(var(--col-gap) / 2);
		}
		.page-statistics__container {
			display: flex;
			flex-direction: column;
			gap: calc(var(--col-gap) / 2);
		}
		.page-statistics__section {
			display: flex;
			flex-direction: column;
			gap: calc(var(--col-gap) / 4);
		}
		.page-statistics__links-list {
			display: flex;
			flex-direction: row;
			gap: calc(var(--col-gap) / 2);
		}
		.page-statistics__links-item {
			font-size: 20px;
		}
		.page-statistics__links-item-link {
			color: var(--color--h-2);
		}
		.page-statistics__links-item-link_active {
			color: var(--color--a5-0);
		}
	}
}
