@use "../globals/"as *;

.page-textbook {
	.main {
		padding-top: calc(var(--col-gap) * 1.6);

		.container {
			padding-top: calc(var(--col-gap) / 2);
			padding-bottom: calc(var(--col-gap) / 2);
			flex-direction: column;
		}
	}

	&__heading {
		margin-bottom: var(--col-gap);
	}
}

.categories {
	margin-bottom: calc(var(--col-gap) * 2);
	&__list {
		gap: var(--col-gap);
	}

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: var(--col-gap);
	}
}

.category {
	display: flex;
	align-items: center;
	column-gap: 16px;
	padding: 16px;
	border-radius: 100px;
	background-color: var(--color--bg-1);
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	&_big {
		@media(min-width: calc($screen-md + 1px)) {
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			padding: 55px 50px;
			border-radius: 32px;
		}
	}

	&__level {
		width: 80px;
		height: 80px;
		background-color: skyblue;
		padding: 18.5px 16.5px;
		border-radius: 100%;
		text-transform: uppercase;

		&_a1 {
			background-color: #CCFF99;
		}
		&_a2 {
			background-color: #B2FF66;
		}
		&_b1 {
			background-color: #FFCC99;
		}
		&_b2 {
			background-color: #FFB266;
		}
		&_c1 {
			background-color: #FF9999;
		}
		&_c2 {
			background-color: #FF6666;
		}
		&_hard {
			background-color: #FF3333;
			font-size: 0;
		}
	}
}

.words {
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--col-gap);
		margin-bottom: var(--col-gap);
	}

	&__pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 18px;
	}
}