@use "../globals/" as *;

.decoration {
	position: absolute;
	z-index: -1;
	@include bgImgSVG("../../assets/svg/img--half-circle.svg", 100%, 1828px);
	-webkit-mask-position: center;
	mask-position: center;
	background-color: var(--color--bg-0);

	&_type1 {
		top: -542px;
		left: -300px;
		@media (max-width: $screen-lg) {
			transform: rotate(90deg);
			left: 0;
			top: -774px;
		}
	}

	&_type2 {
		top: 136px;
		left: -300px;
		@media (max-width: $screen-lg) {
			top: -800px;
			left: -95px;
		}
	}
}
