@use "../globals/" as *;
.word-card {
	width: 217px;
	padding: 16px;
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	background-color: var(--color--bg-1);
	&__img {
		height: 116px;
		min-width: 100%;
		margin-bottom: 19px;
		border-radius: 16px;
	}

	&__panel {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		&-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__more {
		margin-left: auto;
	}
}

.word-modal {
  display: flex;
  gap: var(--col-gap);
  &__column {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--col-gap) * 0.75);
  }

  &__main-info,
  &__explanations,
  &__examples,
  &__controls {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--col-gap) / 2);
  }

  &__statistic {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__image {
		min-width: 260px;
		max-width: 100%;
  }

	&__pronounce {
		display: flex;
		column-gap: 12px;
	}

	@media(max-width: $screen-xl) {
		flex-wrap: wrap;

		&__column {
			width: 100%;
		}
	}
}