@use "button__variables" as *;

.button-icon,
.button-icon-sm {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: start;
	width: 40px;
	height: 40px;
	color: var(--color__button);
	background: var(--background__button);
	border: none;
	border-radius: 1000px;
	cursor: pointer;
	user-select: none;

	& .label {
		text-align: center;
		vertical-align: middle;
		height: 24px;
	}

	& .icon.center,
	& .icon-sm.center {
		background-color: var(--color__button);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--color__button_hover);
			background: var(--background__button_hover);
			transition: color var(--time-1) var(--transition-type-2);
		}
	}
	&:active {
		color: var(--color__button_active);
		background: var(--background__button_active);
		transition: 0s;
	}

	&:disabled,
	&.disabled,
	&[data-is-disabled="true"] {
		color: var(--color__button_disabled);
		background: var(--background__button_disabled);
		opacity: 40%;
		cursor: not-allowed;
		pointer-events: none;
	}
}

.button-icon.secondary,
.button-icon-sm.secondary {
	color: var(--color__button-secondary);
	background: none;
	border: 2px solid var(--border__button-secondary);

	& .icon.center,
	& .icon-sm.center {
		background-color: var(--color__button-secondary);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--color__button-secondary_hover);
			border: 2px solid var(--border__button-secondary_hover);

			& .icon.center,
			& .icon-sm.center {
				background-color: var(--border__button-secondary_hover);
			}
		}
	}
	&:active {
		color: var(--color__button-secondary_active);
		border: 2px solid var(--border__button-secondary_active);

		& .icon.center,
		& .icon-sm.center {
			background-color: var(--border__button-secondary_active);
		}
	}
}
