:root {
	--input-color__height: 20px;
	--input-color__width: 18px;

	--input-color__border-radius: 0 4px 4px 0;
	--input-color__border-width: 2px;
	--input-color__border-style: solid;
	--input-color__border-color: var(--color-el-1);
}
