@use "link__variables" as *;

.link {
	color: var(--color__link);
	text-decoration: none;

	&_underlined {
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	&.inverted {
		color: var(--color__link-inverted);
	}
	// text-decoration: none;
	@media (hover: hover) {
		&:hover {
			transition: color var(--time-1) var(--transition-type-2);
			color: var(--color__link_hover);
			&.inverted {
				color: var(--color__link-inverted_hover);
			}
		}
	}
	&:active {
		color: var(--color__link_active);
		transition: 0s;
		&.inverted {
			color: var(--color__link-inverted_active);
		}
	}

	&:disabled,
	&.disabled,
	&[data-is-disabled="true"] {
		color: var(--color__link_disabled);
		opacity: 60%;
		cursor: not-allowed;
		pointer-events: none;
		&.inverted {
			color: var(--color__link-inverted_disabled);
		}
	}
	// &.inverse {
	//     color: var(--color__ov_inverse);
	// @media (hover: hover) {
	//     &:hover {
	//         transition: all var(--time__medium) var(--animation__standard);
	//         color: var(--color__link-hover);
	//     }
	// }
	// }
}
