:root {
	--color__link: var(--color--f1-1);
	--color__link_hover: var(--color--f1-2);
	--color__link_active: var(--color--f1-0);
	--color__link_disabled: var(--color--f1-1);

	--color__link-inversed: var(--color--f2-1);
	--color__link-inversed_hover: var(--color--f2-2);
	--color__link-inversed_active: var(--color--f2-0);
	--color__link-inversed_disabled: var(--color--f2-1);
}
