:root {
	--color__h1: var(--color--f1-1);
	--color__h2: var(--color--f1-1);
	--color__h3: var(--color--f1-1);
	--color__h4: var(--color--f1-1);
	// --color__h5: var(--color--f1-1);
	// --color__h6: var(--color--f1-1);
	// --color__s1: var(--color--f1-1);
	// --color__s2: var(--color--f1-1);
	--color__p1: var(--color--f1-1);
	--color__p2: var(--color--f1-1);
	// --color__p3: var(--color--f1-1);
	// --color__cp: var(--color--f1-1);
	// --color__ov: var(--color--f1-1);
	// --color__sb: var(--color--f1-1);

	--color__h1-inverse: var(--color--f2-1);
	--color__h2-inverse: var(--color--f2-1);
	--color__h3-inverse: var(--color--f2-1);
	--color__h4-inverse: var(--color--f2-1);
	--color__h5-inverse: var(--color--f2-1);
	--color__h6-inverse: var(--color--f2-1);
	--color__s1-inverse: var(--color--f2-1);
	--color__s2-inverse: var(--color--f2-1);
	--color__p1-inverse: var(--color--f2-1);
	--color__p2-inverse: var(--color--f2-1);
	--color__p3-inverse: var(--color--f2-1);
	--color__ct-inverse: var(--color--f2-1);
	--color__ov-inverse: var(--color--f2-1);
	--color__sb-inverse: var(--color--f2-1);
}
