@use "./asmlib/asm-ui/styles/globals/" as *;
@use "./asmlib/asm-ui/styles/" as *;
@use "./styles/" as *;

#root {
	gap: 16px;
	background-color: var(--color--bg-1);
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	border: none;
	padding: 0;
}

a {
	text-decoration: none;
}