@use "../../globals/" as *;

.page-sprint {
	.main {
		.container {
		}
	}

	.sprint-game {
		display: flex;
		flex-direction: column;
		row-gap: calc(var(--col-gap) * 2);
		&__row {
			display: flex;
			justify-content: space-between;
			row-gap: calc(var(--col-gap) / 2);
			width: 100%;
			align-items: center;
		}

		&__col {
			display: flex;
			&_left {
				flex-basis: 40%;
				justify-content: flex-end;
			}
			&_center {
				flex-basis: 20%;
				justify-content: center;
			}
			&_right {
				flex-basis: 40%;
				justify-content: flex-start;
			}
		}

		&__wrong-btn {
			color: var(--color--f2-1);
			background-color: var(--color--a5-1);
			.icon {
				background-color: var(--color--f2-1);
			}
		}

		&__correct-btn {
			color: var(--color--f1-1);
			background-color: var(--color--a3-1);
			.icon {
				background-color: var(--color--f1-1);
			}
		}

		&__streak {
			display: flex;
			justify-content: center;
			column-gap: 36px;
		}
	}

	.score {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.blinker {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	&_red {
		animation: blink linear .4s;
		background-color: #FF6666;
	}
	&_green {
		animation: blink linear .4s;
		background-color: #CCFF99;
	}
}

@keyframes blink {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 0;
	}
}
